.singlePost {
    display: flex;
    justify-content: space-evenly;
}

.singlePost > div {
    width: 10rem;
    padding: 1rem;
    border: 1px black dashed;
}

.postCard {
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.cardTitle, .cardBottom {
    display: flex;
    justify-content: space-between;
}

.cardFunctions {
    display: flex;
}

.cardButtons {
    display: flex;
}

.cardImage {
    display: flex;
    justify-content: center;
}

.postDetails {
    display: flex;
    justify-content: space-between;
}

.postDetailsTags {
    border: 1px black solid;
    padding: 1em;
}

.postDetailsMain {
    display: flex;
    flex-direction: column;
}

.postDetailsTitle {
    display: flex;
    justify-content: space-between;
}

.postDetailsBelowCard {
    display: flex;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.435);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 500px;
    background-color: white;
    
}